* {
  --orange: #ff9416;
  --yellow: #ffde9c;
  --red: #f02925;
  font-family: "Abel", sans-serif;
}

body {
  background-color: var(--orange);
}

h1 {
  font-family: "Codystar", cursive;
  color: var(--yellow);
  font-weight: bolder;
}

h4 {
  text-align: left;
}

#welcome {
  font-size: 3rem;
}

.table {
  margin-top: 2rem
}