<div class="row">
    <h1 class="col-12">Your Ultimate Movie Watchlist!</h1>
    <div class="form-group">
        <button class="btn btn-danger" type="submit">logout</button>
</div>
</div>

<table class="table">
  
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Movie Title</th>
      <th scope="col">Genre</th>
      <th scope="col">Watched</th>
    </tr>
  </thead>
  <tbody>
    <span class="border border-danger">
    <tr>
      <th scope="row"></th>
      <td>sample movie</td>
      <td>sample drama</td>
      <td><div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Watched
  </label>
</div></td>
    </tr>
  </tbody>
  </span>
</table>
