<div class="row">
  <h1 class="col-12">Your Ultimate Movie Watchlist!</h1>
</div>

<form class="form-group">
  <input class="form-control" type="text" placeholder="Search Movie">
  <select class="custom-select">
    <option selected>Select Genre</option>
    <option value="1">Comedy</option>
    <option value="2">Thriller</option>
    <option value="3">Action</option>
  </select>
  <button class="btn btn-danger" type="submit">Add to Watchlist</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Movie Title</th>
      <th scope="col">Genre</th>
      <th scope="col">Watched</th>
    </tr>
  </thead>
  <tbody>
    {{#each movies}}
    <tr>
      <td>{{dataValues.movie}}</td>
      <td>{{dataValues.genre}}</td>
      <td>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            {{!-- {{#if dataValues.unwatched === 0}}
            Unwatched
            {{else}}
            Watched
            {{/if}} --}}
          </label>
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

</table>

<div class="form-group">
  <button class="btn btn-danger" id="logout">logout</button>
</div>

<script src="/js/logout.js"></script>