<div class="row">
    <h1 class="col-12">Welcome to the Ultimate Movie Database!</h1>
    <h4 class="col-12">Please sign in or sign up.</h4>
    <div class="row">
        <div class="col-md-6">
            <a href="/login" class="btn btn-primary login">Login</a>
        </div>
        <div class="col-md-6">
            <a href="/signup" class="btn btn-primary login">Sign Up</a>


        </div>
    </div>
</div>