<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Movie title</h5>
    <p class="genre">Genre:</p>
    <p class="card-text">This will be the synopsis.</p>
    <a href="#" class="btn btn-primary">Add to list</a>
  </div>
</div>