
<section id="movies">

   <!-- append movies here -->
  
<div class="card bg-dark text-white" style="width: 18rem;">
  <img src= "https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/movie-endersgame.jpg" class="card-img">
  <div class="card-img-overlay">
  </div>

  <div class="card-footer text-white">
    <p class="card-text">This will be the synopsis.</p>
 <a href="#" class="btn btn-danger">Add to list</a>
    
  </div>
</div>

</section>

<!-- how do i change for this project
    {{#each result as |result|}}
    <div class="border" id="result{{result.id}}">
        <p>{{result.result}}</p>
    </div>
    {{/each}}


<script src="/public/js/results.js"></script>